    <b>Issue:</b> Please indicate issue here
    <br><br>
    <b>Reproduction steps:</b> Please state the steps necessary to reproduce this issue
    <br><br>
    <b>Expected behavior:</b> Please state your expected behavior here
    <br><br>
    <b>Actual outcome:</b> Please state the actual outcome here
    <br><br><br>
    <div id=player>Loading your player...</div>
    <script>
        jwplayer('player').setup({
            file: "rtmp://127.0.0.1:2035/live/1234",
              primary: 'html5',
            flashplayer: '../jwplayer/jwplayer/jwplayer.flash.swf'

        });
        
        //include any of your Javascript API calls here 
    </script>


