/* Space out content a bit */

body {
    margin: inherit;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}


/* Custom page header */

.header {
    padding: 2% 4% 1% 3%;
}


/* Make the masthead heading the same height as the navigation */

.logo-image {
    height: 70px;
    width: 100px;
}

.header h3 {
    margin-top: 0;
    margin-left: 6%;
    margin-bottom: 0;
    padding-left: 3%;
    line-height: 40px;
    -webkit-text-stroke: 1px black;
    color: #f2f2f2;
}

.header h3 a,
.header nav ul li a {
    text-align: center;
    color: #f2f2f2;
    font-size: 30px;
    font-weight: bold;
}

.header nav ul li a {
    margin-bottom: 1%;
    margin-left: -50%;
    width: 110%;
}

.header nav ul li:nth-child(2) a {
    margin-bottom: 1%;
}

.header nav ul li:nth-child(3) a {
    margin-bottom: 1%;
}


/* Custom page footer */

.footer {
    color: #f2f2f2;
    background-color: rgba(230, 230, 230, 0.6);
    border-top: 1px solid #e5e5e5;
    text-align: center;
    position: bottom;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3rem;
    text-align: center;
}


/* Customize container */

@media (min-width: 568px) {
    .container-fluid {
        max-width: 8920px;
    }
}

.container-narrow>hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p+h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.page-header {
    margin-top: 0;
}

body {
    background-image: url("/back1234.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;
}

.col-sm-8 img {
    height: 15%;
    margin-left: 5%;
}

.ghost-button {
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    margin-left: 43%;
    margin-bottom: 8%;
    min-width: 80px;
    padding: 8px;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.ghost-button:hover,
.ghost-button-semi:active {
    background-color: #f2f2f2;
    /* fallback */
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #fff;
    /* fallback */
    border-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.container-fluid .row .login .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    width: 40%;
    padding: 15px;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
    text-align: left;
    outline: none;
    transition: 0.3s ease-out;
}

.login .form-control::-webkit-input-placeholder {
    color: #f2f2f2;
}

.container-fluid .row .login .form-control:hover,
.container-fluid .row .login .form-control:active,
.container-fluid .row .login .form-control:focus {
    background-color: #f2f2f2;
    /* fallback */
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    /* fallback */
    border-color: rgba(255, 255, 255, 1);
}

form .container-fluid .row .col-sm-5 .form-group label {
    font-size: 20px;
    position: relative;
    left: 42%;
    color: #f2f2f2;
}

form .container-fluid .row .col-sm-3 .form-group label {
    font-size: 20px;
    position: relative;
    left: 42%;
    color: #f2f2f2;
}

.login .form-group label {
    font-size: 20px;
    position: relative;
    left: 31%;
    color: #f2f2f2;
}

.container-fluid .row .col-sm-4 .input-group-btn button {
    background-color: #f2f2f2;
    border: 5px solid #f2f2f2;
}

.container-fluid .row .col-sm-4 .input-group {
    margin-top: 12%;
}

.form-control {
    display: block;
    width: 39%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #f2f2f2;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: none;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    transition: width 0.3s ease-out;
}

.form-control::-webkit-input-placeholder {
    color: #f2f2f2;
}




/*  */

.container-fluid:nth-child(3) {
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    background-color: rgba(242, 151, 90, 1);
}

.container-fluid:nth-child(3) .row p {
    text-align: center;
    margin-left: 10%;
}

.container-fluid:nth-child(3) .row h2 {
    text-align: center;
    margin-right: 4%;
    color: #e6e6e6;
}

.container-fluid:nth-child(3) .row img {
    height: 20%;
    width: 40%;
}

.container-fluid:nth-child(3) .row p {
    width: 20%;
    color: #f2f2f2;
}


/* Favourite subject */

.container-fluid:nth-child(5) {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(242, 151, 90, 1);
}

.container-fluid:nth-child(5) .thumbnail {
    height: 30%;
    width: 90%;
    display: block;
    border-radius: 5%;
}

.container-fluid:nth-child(5) .col-sm-6 p {
    text-align: right;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 40%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    background-color: rgba(242, 151, 90, 0.5);
    color: #f2f2f2;
}

.container-fluid:nth-child(5) .row h2 {
    text-align: center;
    font-family: Palatino;
    margin-right: 4%;
    color: #e6e6e6;
}

.container-fluid:nth-child(5) .thumbnail img {
    height: 90%;
    width: 40%;
    margin-right: 60%;
    border-radius: 20%;
}

.login {
    border-radius: 70%;
    padding-top: 4.35%;
    padding-right: 7px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    height: 45%;
}

.input-group .form-control:hover,
.input-group .form-control:active,
.input-group .form-control:focus {
    background-color: #e6e6e6;
    /* fallback */
    background-color: rgba(217, 217, 217, 0.4);
    border-color: #fff;
    /* fallback */
    border-color: rgba(255, 255, 255, 0.4);
    transition: width 0.3s ease-in;
}


/* Favourite subject */

.container-fluid:nth-child(4) {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f2f2f2;
}

.container-fluid:nth-child(4) .thumbnail {
    height: 30%;
    width: 90%;
    display: block;
    border-radius: 5%;
}

.container-fluid:nth-child(4) .col-sm-6 p {
    text-align: right;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 40%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.5);
    color: #333333;
}

.container-fluid:nth-child(4) .row h2 {
    text-align: center;
    font-family: Palatino;
    margin-right: 4%;
    color: #333333;
}

.container-fluid:nth-child(5) .thumbnail img {
    height: 90%;
    width: 40%;
    margin-right: 60%;
    border-radius: 20%;
}

.login {
    border-radius: 70%;
    padding-top: 4.35%;
    padding-right: 7px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    height: 45%;
}

.input-group .form-control:hover,
.input-group .form-control:active,
.input-group .form-control:focus {
    background-color: #e6e6e6;
    /* fallback */
    background-color: rgba(217, 217, 217, 0.4);
    border-color: #fff;
    /* fallback */
    border-color: rgba(255, 255, 255, 0.4);
    transition: width 0.3s ease-in;
}


/* Footer Github link */

.fa {
    color: #cc5200;
}

.input-group input[type=text]:active,
.input-group input[type=text]:focus {
    width: 110%;
}

.reg-form input:hover,
.reg-form input:active,
.reg-form input:focus {
    background-color: #f2f2f2;
    /* fallback */
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    /* fallback */
    border-color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}


/* Registration form left side */

.col-sm-5 .form-group:nth-child(1) input {
    margin-left: 30%;
    width: 35%;
    transition: 0.3s ease-out;
}

.reg-form .form-group:nth-child(1) input:active,
.reg-form .form-group:nth-child(1) input:focus {
    width: 40%;
}

.reg-form .form-group:nth-child(2) input {
    margin-left: 30%;
    width: 35%;
    transition: 0.3s ease-out;
}

.reg-form .form-group:nth-child(2) input:active,
.reg-form .form-group:nth-child(2) input:focus {
    width: 40%;
}

.reg-form .form-group:nth-child(3) input {
    margin-left: 30%;
    width: 35%;
    transition: 0.3s ease-out;
}

.reg-form .form-group:nth-child(3) input:active,
.reg-form .form-group:nth-child(3) input:focus {
    width: 40%;
}

.reg-form .form-group:nth-child(3) label {
    margin-left: 2.5%;
}

.reg-form .form-group:nth-child(4) input {
    margin-left: 30%;
    width: 35%;
    transition: 0.3s ease-out;
}

.reg-form .form-group:nth-child(4) input:active,
.reg-form .form-group:nth-child(4) input:focus {
    width: 40%;
}

.reg-form .form-group:nth-child(5) input {
    margin-left: 30%;
    width: 35%;
    transition: 0.3s ease-out;
}

.reg-form .form-group:nth-child(5) input:active,
.reg-form .form-group:nth-child(5) input:focus {
    width: 40%;
}

.reg-form .form-group:nth-child(5) label {
    margin-left: -6%;
}

.reg-form .form-group:nth-child(6) input {
    margin-left: 30%;
    width: 35%;
    transition: 0.3s ease-out;
}

.reg-form .form-group:nth-child(6) input:active,
.reg-form .form-group:nth-child(6) input:focus {
    width: 40%;
}

.reg-form .form-group:nth-child(6) label {
    margin-left: 1%;
}


/* Registration form right side */

.reg-form .container-fluid .row .col-sm-3 {
    margin-left: -5%;
    margin-top: 2%;
}


/* Gender data */

.col-sm-3:nth-child(2) .form-group:nth-child(1) {
    display: block;
    margin-left: 35%;
    height: 25%;
    width: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) h2 {
    color: #f2f2f2;
    width: 150%;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) ul li label {
    display: block;
    font-weight: 300;
    font-size: 25px;
    padding-left: 45%;
    margin-bottom: 2%;
    margin-top: 28%;
    margin-right: 55%;
    margin-left: -25%;
    height: 40%;
    width: 50%;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) ul li:hover label {
    color: #FFFFFF;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) ul li:hover .check {
    border: 5px solid #FFFFFF;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) ul li .check::before {
    display: block;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 4px;
    left: 4px;
    margin-top: 11%;
    margin-left: 12%;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) input[type=radio]:checked~.check {
    border: 5px solid rgba(242, 151, 90, 1);
}

.col-sm-3:nth-child(2) .form-group:nth-child(1) input[type=radio]:checked~.check::before {
    background: rgba(242, 151, 90, 1);
}


/* Occupation data */

.col-sm-3:nth-child(2) .form-group:nth-child(2) {
    display: block;
    margin-left: 35%;
    height: 25%;
    width: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) h2 {
    color: #f2f2f2;
    width: 150%;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) ul li label {
    display: block;
    font-weight: 300;
    font-size: 25px;
    padding-left: 45%;
    margin-bottom: 2%;
    margin-top: 28%;
    margin-right: 55%;
    margin-left: -25%;
    height: 40%;
    width: 50%;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) ul li:hover label {
    color: #FFFFFF;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) ul li:hover .check {
    border: 5px solid #FFFFFF;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) ul li .check::before {
    display: block;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 4px;
    left: 4px;
    margin-top: 11%;
    margin-left: 12%;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) input[type=radio]:checked~.check {
    border: 5px solid rgba(242, 151, 90, 1);
}

.col-sm-3:nth-child(2) .form-group:nth-child(2) input[type=radio]:checked~.check::before {
    background: rgba(242, 151, 90, 1);
}


/* Hidden text area */

.col-sm-4 p {
    color: #fff;
    font-size: 25px;
    margin-top: 30%;
    display: none;
}

.col-sm-4 p:nth-child(3) {
    color: #fff;
    font-size: 25px;
    margin-top: 30%;
    display: none;
}

.col-sm-4 textarea {
    background-color: rgba(217, 217, 217, 0.4);
    margin-top: 5%;
    width: 110%;
    font-size: 18px;
    display: none;
}

.col-sm-4 textarea:nth-child(4) {
    background-color: rgba(217, 217, 217, 0.4);
    width: 110%;
    font-size: 18px;
    display: none;
}


/* Submit button */

.col-sm-12 button {
    margin-top: 5%;
    margin-left: 44.5%;
}


/* Create Course */

.container-fluid .row .col-md-12 .page-header {
    margin-left: 10%;
}

.container-fluid .row .col-md-8 .form-group label {
    font-size: 24px;
    position: relative;
    color: #f2f2f2;
    left: 12%;
    width: 30%;
    margin-top: 12%;
}

.container-fluid .row .col-md-8 .form-group small {
    position: relative;
    color: #f2f2f2;
    font-size: 16px;
}

.container-fluid .row .col-md-8 .form-group .form-control {
    margin-left: 5%;
    margin-block-start: 10%;
}

.container-fluid .row .col-md-6 p {
    width: 80%;
    margin-left: 3%;
    margin-top: 2%;
}

.container-fluid .row .col-md-5 {
    margin-bottom: 5%;
}

.container-fluid .row .col-md-6 {
    width: 40%;
    margin-top: -2%;
    margin-left: 5%;
}

.container-fluid .row .col-md-12 .form-group {
    margin-top: 3%;
}

.container-fluid .row .col-md-6 .form-group label {
    font-size: 20px;
    position: relative;
    color: #f2f2f2;
}

.container-fluid .row .col-md-6 .form-group input {
    width: 30%;
    transition: 0.3s ease-out;
}

.container-fluid .row .col-md-6 .form-group input:active,
.container-fluid .row .col-md-6 .form-group input:focus {
    width: 40%;
}

.container-fluid .row .col-md-12 textarea {
    width: 40%;
    margin-left: 3.4%;
    resize: none;
}

.col-md-12 button {
    margin-top: 5%;
    margin-left: 3.4%;
}

.container-fluid .row .col-md-6 label {
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 5%;
}

.container-fluid .row .col-sm-3 a img {
    margin-left: 10%;
    margin-bottom: 15%;
    width: 70%;
}

.free-space {
    height: 20%;
}

/* User Profile */

.container-fluid .row .col-md-8 #player {
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 5%;
}

.container-fluid .row .col-md-8 .row .col-md-4  {
    width: 50%;
    margin-top: 7%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.container-fluid .row .col-md-4 #messageForm .form-group{
    margin-top: 2%;
    color: #fff;
}
.container-fluid .row .col-md-4 #messageForm .form-group textarea{
    width: 100%;
    resize: none;
}

.container-fluid .row .col-md-4 #messageForm .form-group,
.container-fluid .row .col-md-4 .chat {
    padding-left: 2%;
    padding-right: 2%;
}
.container-fluid .row .col-md-4 .chat {
    margin-left: 2%;
    height: 67.7%;
    width: 96%;
    overflow-y: scroll;
}


 .container-fluid .row .col-lg-6{
     height: 15%;

 }

 .container-fluid .row .col-lg-6 .input-group{
     position: absolute;
     left: 65%;
     top: 30%;
     width: 70%;
 }
 .container-fluid .row .col-lg-6 .input-group button{
    height: 10%;
 } 

#player{
    margin-left: 30%;
}